
.sectionTitle-container-items {
    position: relative;
    top: 25%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: auto;
}

.sectionTitle-container {
    width: auto;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, rgba(10,15,23,1) 0%, rgba(83,95,252,1) 300%);
}

.sectionTitle-text > h1 {
    width: 38vw;
    color: aliceblue;
    margin: 0;
    font-size: 70px;
    text-align: center;
}

.sectionTitle-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.sectionTitle-text-buttons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 150px;
}

.sectionTitle-text-buttons > a {
    text-decoration: none;
    background-color: transparent;
    border: white 1px solid;
    color: aliceblue;
    border-radius: 5px;
    padding: 30px 100px;
    
}

.sectionTitle-text-buttons > a + a {
    margin-left: 50px;
}

.sectionTitle-text-buttons > a:hover {
    background-color: white; 
    color: #0A0F17;
}

.sectionAbout-container {
    width: auto;
    height: 100vh;
    margin: 0;
    padding: 0;
    border-top: grey 1px solid;
    background-color: #0A0F17;
}

.sectionAbout-container-items {
    display: flex;
    flex-direction: row;
}

.sectionAbout-container-items-img {
    width: 50vw;
    height: 100vh;
    background-color: black; 
    overflow: hidden;
}

.sectionAbout-container-items-img > img {
    width: 100%;
}

.sectionAbout-container-items-text  {
    position: relative;
    margin: auto 5vw;
}

.sectionAbout-container-items-title > h2 {

    padding: 10px 0.7vw;
    color: #535efc;
    border: #535efc73 solid 1px;
    border-radius: 50px;
    text-align: center;
    font-size: 12px;
    background-color: #535efc1e;
    width: 90px;

}

.sectionAbout-container-items-p > p{
    margin: 0;
    width: 35vw;
    height: auto;
    color: whitesmoke;
    font-size: 15px;
}

.sectionAbout-container-items-desc > h2 {
    font-size: 50px;
    margin: 20px 0 ;
    margin-top: 10px;
    color: white;
}

.sectionWork-container {
    width: auto;
    height: 100vh;
    margin: 0;
    padding: 0;
    border-top: grey 1px solid;
    background-color: #0A0F17;
}

.sectionWork-container-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12vh;
}

.sectionWork-container-items > h2 {
    color: white;
    font-size: 40px;
    margin-top: 4vh;
    margin-bottom: 0;
}   

.sectionWork-container-items-work {
    display: flex;
    margin-top: 0px;
}

.workTag-container {
    width: 300px;
    height: 450px;
    background-color: transparent;
    margin: 8vh 2vw;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.workTag-container-items {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.workTag-container-items > span{
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
}

.workTag-container-items > h3{
    margin: 0;
    font-size: 30px;
    text-align: center;
}

.workTag-container img {
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
    transition: filter 0.5s ease;
    object-fit: cover; /* Asegúrate de que la imagen cubra toda el área sin estirarse */
}

.workTag-container:hover img {
    opacity: 0.1; /* Difumina la imagen */
    filter: blur(3px);
}

.workTag-container:hover .workTag-container-items {
    opacity: 1; /* Muestra la información */
}